<?xml version="1.0"?>
<config>
    <modules>
        <Fake_User>
            <version>1.0.0</version>
        </Fake_User>
    </modules>
    <global>
        <models>
            <fake_user>
                <class>Fake_User_Model</class>
                <resourceModel>fake_resource_model</resourceModel>
            </fake_user>
            <fake_resource_model>
                <class>Fake_User_Model_Resource</class>
                <entities>
                    <user>
                        <table>fake_user</table>
                    </user>
                </entities>
            </fake_resource_model>
        </models>
        <blocks>
            <fake_user>
                <class>Fake_User_Block</class>
            </fake_user>
        </blocks>
        <helpers>
            <fake_user>
               <class>Fake_User_Helper</class>
            </fake_user>
        </helpers>
        <resources>
            <fk_user_setup>
                <setup>
                    <module>Fake_User</module>
                    <class>Fake_User_Model_Resource_Setup</class>
                </setup>
            </fk_user_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fk_user_adminhtml before="Mage_Adminhtml">Fake_User_Adminhtml</fk_user_adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fk_user>
                    <file>fake/user.xml</file>
                </fk_user>
            </updates>
        </layout>
    </adminhtml>
</config>